*{
    padding: 0;
    margin: 0;
}
// html,body{
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }
#signature{
    background: #fff;
    width: 100%;
    height: 100%;
    color: #f00;
    position: relative;
}
/*@media screen and (orientation: portrait) {  
    html{  
       width : 100% ;  
       height : 100% ;  
        background-color: white ;  
        overflow : hidden;  
    }  
    body{  
        width : 100% ;  
       height : 100% ;  
       background-color: red ;  
        overflow : hidden;  
    }  
    #signature,.jSignature{  
       position : absolute ;  
       background-color: yellow ;  
    }  
}   
@media screen and (orientation: landscape) {  
     html{  
       width : 100% ;  
       height : 100% ;  
       background-color: white ;  
    }   
     body{  
        width : 100% ;  
       height : 100% ;  
       background-color: white ;  
    }  
    #signature,.jSignature{  
          position : absolute ;  
          top : 0 ;   
          left : 0 ;  
          width : 100% ;  
          height : 100% ;  
          background-color: yellow ;  
    }  
}  */
#someelement{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background:#fff;
}
.btn-box{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 3;
    input,a{
        width: 33.3%;
        display: block;
        height: 40px;
        line-height: 40px;
        float: left;
    }
    a{
        border: 1px #dedede solid;
        text-align: center;
        &.active{
            background: #ff503f;
            color: #fff;
        }
    }
}